<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-10">
      <div class="row">
        <div class="col-12 col-sm-6">
          <app-card-postulation></app-card-postulation><br><br>
          <app-card-postulation></app-card-postulation><br><br>
          <app-card-postulation></app-card-postulation><br><br>
          <app-card-postulation></app-card-postulation><br><br>
          <app-card-postulation></app-card-postulation><br><br>

        </div>
        <div class="col-12 col-sm-6">
          <app-card-postulation></app-card-postulation><br><br>
          <app-card-postulation></app-card-postulation><br><br>
          <app-card-postulation></app-card-postulation><br><br>
          <app-card-postulation></app-card-postulation><br><br>
          <app-card-postulation></app-card-postulation><br><br>

        </div>
      </div>
    </div>
  </div>
  <a href="" [routerLink]="['/offers']" routerLinkActive="router-link-active" > <  Offers</a>

 <div class="navs">
    <img src="../../../assets/img/next.png" alt="" class="left">
    <img src="../../../assets/img/next.png" alt="">
  </div> 

</div>
