<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-2">
        <mat-form-field appearance="legacy" class="dropDown">
            <mat-label>feild</mat-label>
            <mat-select ><!--(selectionChange)="addField($event.value)"-->
              <mat-option value="Front-end">Front-end</mat-option>
              <mat-option value="UI/UX">UI/UX</mat-option>
              <mat-option value="Back-end">Back-end</mat-option>
              <mat-option value="manager">manager</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div class="col-12 col-sm-10">
      <div class="row">
        <div class="col-12 col-sm-6">
          <app-card-empois></app-card-empois><br>
          <app-card-empois></app-card-empois><br>
          <app-card-empois></app-card-empois><br>
          <app-card-empois></app-card-empois><br>
        </div>
        <div class="col-12 col-sm-6">
          <app-card-empois></app-card-empois><br>
          <app-card-empois></app-card-empois><br>
          <app-card-empois></app-card-empois><br>
          <app-card-empois></app-card-empois><br>
        </div>
      </div>
    </div>
</div>

<div class="navs">
  <img src="../../../assets/img/next.png" alt="" class="left" >
  <img src="../../../assets/img/next.png" alt="" >
 
</div>
 <a href="" [routerLink]="['/postulation']" routerLinkActive="router-link-active" > <  Postulation</a>
</div>
